<%# app/views/messages/_message.html.erb %>
<%# Eliminamos is_mine porque el servidor no sabe quién eres tú respecto al broadcast %>
<%# is_mine = message.user == current_user %>

<div id="<%= dom_id message %>" 
     class="flex justify-start" 
     data-message-sender-id="<%= message.user_id %>">
  <div class="max-w-[75%]">
    <p class="text-xs text-gray-500 mb-1 ml-1 sender-name">
      <%= message.user.username %>
    </p>
    
    <div class="message-bubble px-4 py-2 rounded-2xl shadow-sm bg-white text-gray-800 border border-gray-200 rounded-tl-none">
      <p class="text-sm"><%= message.body %></p>
      <p class="text-[10px] mt-1 text-right text-gray-400">
        <%= message.created_at.strftime("%H:%M") %>
      </p>
    </div>
  </div>
</div>